<%= @game.player1.name %> <%= @game.player2.name %>
<br>

<%= @game.opponent_player.name %>'s HIT points: <%= @game.opponent_player.health_points %>
<br>

<%= @game.current_player.name %>'s HIT points: <%= @game.current_player.health_points %>
<br>

Current Player: <%= @game.current_player.name %>

<form action='/attack'>
<button type="submit" name="attack">Attack!</button>
</form>
